In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('sub21_normal.csv')
df

,id,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
0,0,8.59,7.500,9.000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,16.645,0,0
1,0,8.21,3.710,5.420,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.750,0,0
2,0,8.39,8.700,8.100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.670,0,0
3,0,8.07,8.050,8.650,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.400,0,0
4,0,8.12,9.000,9.000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.400,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3038,0,8.65,8.367,8.760,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0
3039,0,8.08,6.250,8.300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.695,0,0
3040,0,8.09,6.630,6.630,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0
3041,0,9.95,8.367,8.433,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.400,0,0
3042,0,8.51,8.500,8.100,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0

In [19]:
df.target = df.target.clip(7, 20)

In [20]:
len(df[df['target']==7].index.to_numpy())

163

In [21]:
np.random.choice(df[df['target']==7].index.to_numpy(), 130, replace=False)

array([1054, 2944, 2094, 2050, 1740, 1813,  326, 2586,  993,  473,  987,
       2507, 1922,   42, 1984,  148,  390, 1532, 2142,  530,  231,  666,
       3004, 2641, 2100, 1101, 1474, 1570,   48, 2192,  391, 2389, 2091,
       1131,  282,  961,  250, 2695,  510, 2021, 1739, 1374, 1727,  409,
       2585, 1358, 2139, 2889, 1556,  796,    7, 1327,  410, 2890, 1971,
       1862, 1687,  692, 2349,  569,  817,   86,  435,  625, 1632, 1918,
       2454, 2408, 1877, 2513,  608, 2160, 2370, 2237,  737,   44, 2789,
       1921,  380, 1301,   37, 2112, 1934, 1810,  611,  320, 1399, 1618,
        176,  236,  705, 2363,  609, 2530,  693,  951, 1289, 2332, 1752,
       2961, 2845,  124,  154,  289,  404,  132, 1692,  182, 2576, 1691,
       2238,   27, 1421, 1702, 2427, 2250, 2017, 1775, 2534,  648,  488,
        633, 2320, 2485,  296,  877, 2546, 2958, 2974, 2466])

In [22]:
drop_index = np.random.choice(df[df['target']==7].index.to_numpy(), 130, replace=False)
df.loc[drop_index]

,id,target,O2_1,O2_2,O2_3,O2_4,O2_5,O2_6,O2_7,NH4_1,...,NO3_5,NO3_6,NO3_7,BOD5_1,BOD5_2,BOD5_3,BOD5_4,BOD5_5,BOD5_6,BOD5_7
2164,0,7.0,5.90,6.10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.750,0,0
2360,0,7.0,7.90,7.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.800,0,0
2812,0,7.0,7.10,7.30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.750,0,0
106,0,7.0,7.50,8.98,0,0,0,0,0,0,...,0,0,0,0,0,0,0,9.250,0,0
1131,0,7.0,7.10,8.00,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.450,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,0,7.0,6.05,7.40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,18.250,0,0
1752,0,7.0,7.25,7.40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,7.700,0,0
282,0,7.0,5.00,5.40,0,0,0,0,0,0,...,0,0,0,0,0,0,0,26.500,0,0
1934,0,7.0,9.40,8.10,0,0,0,0,0,0,...,0,0,0,0,0,0,0,6.750,0,0
488,0,7.0,6.54,6.54,0,0,0,0,0,0,...,0,0,0,0,0,0,0,8.415,0,0

In [24]:
df = df.drop(drop_index)
df.shape

(2913, 37)

In [25]:
df.to_csv('sub22-just-drop.csv', index=False)